@import 'utils/variables';
@import 'base/typographie';
@import 'layout/header';
@import 'pages/home';
@import 'utils/mixins';
@import 'components/buttons';

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}