header {
    text-align: center;

    .logo {
        padding: .2em 0 .05em;
        position: relative;
        box-shadow: 0px 2px 10px #00000030;

        figure {
            margin: 1em 1em .5em;
        }

        a {
            cursor: pointer;

            img {
                width: 60%;
                max-width: 300px;
            }
        }

        @include responsive(medium) {
                padding: .5em 0 .2em;
        }

        .back {
            position: absolute;
            display: inline;
            top: 50%;
            left: 1.5em;
            transform: translateY(-50%);
            color: #353535;
        
            i {
                font-size: 1.3em;
            }
        
            @include responsive(medium) {
                left: 2em;
        
                i {
                    font-size: 1.8em;
                }
            }
        }
    }
}
