.heart {
        padding-right: 1.5em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .far, .fas {
            font-size: 1.6em;
            position: absolute;
        }
        .far {
            color: #474444;
            transition: all 1s ease;
            opacity: 1;

            &:hover {
                    opacity: 0;
            }
        }
        .fas {
            font-weight: 700;
            opacity: 0;
            -webkit-text-fill-color: transparent;
            transition: all 1.2s ease-in-out;
            
            &:hover {
                opacity: 1;
                transform: scale(1.1);
                background: linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
            }
        }
}