.heart {
        padding-right: 1.5em;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        .far {
            font-size: 1.6em;
            color: #474444;
            position: absolute;
            font-weight: 300;
            transition: all .3s ease;
            opacity: 1;

            &:hover {
                    opacity: 0;
                    font-weight: 700;
                    transition: .8s;
                    background: -webkit-linear-gradient($primary-color, $secondary-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
            }
        }
        .fas {
            font-size: 1.6em;
            font-weight: 700;
            opacity: 0;
            position: absolute;
            transition: all .3s ease;

            &:hover {
                opacity: 1;
                transform: scale(1.1);
                background: -webkit-linear-gradient($primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
}